<ion-tabs class="tabs-positive tabs-icon-top bottom-main-tab">
  <ion-tab class="bottom-main-tab-item tab-kevintv" title="Khaled TV" ui-sref="app.dashboard.kevintv">
    <ion-nav-view name="dashboard-kevintv"></ion-nav-view>
  </ion-tab>
  <ion-tab class="bottom-main-tab-item tab-store" title="Store" ui-sref="app.dashboard.store">
    <ion-nav-view name="dashboard-store"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab class="bottom-main-tab-item tab-activism" title="Activism" ui-sref="app.dashboard.activism">
  <ion-nav-view name="dashboard-activism"></ion-nav-view>
</ion-tab>
 -->
  <ion-tab class="bottom-main-tab-item tab-key" title="The Key" ui-sref="app.dashboard.social">
    <ion-nav-view name="dashboard-social"></ion-nav-view>
  </ion-tab>
  <ion-tab class="bottom-main-tab-item tab-account" title="Account" ui-sref="app.dashboard.account">
    <ion-nav-view name="dashboard-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
