$dark-tab-color: #1d1e22;
$orange-theme: #b00217;
$color-white: #fff;
$divider-color: #909499;
$footer-text-color: #dee1e1;
$sub-tab-font-active-color: #b00217;
$sub-tab-font-color: #75774f;
$select-color: #e2e2e2;
$error-color: #fd0013;
$tab-color: #b00217;

/* button-positive */

$positive: #b00217 !default;
$balanced: #73bc62 !default;
