.shipping-address-view {
  .shipping-address-container {
    .header {
      text-align: center;
      margin-bottom: 20px;
    }
    .text-item {
      border: none;
      font-size: 14px;
      color: #5e5e5e;
      padding-bottom: 0px;
      padding-top: 5px;
      .item-input {
        padding-left: 0px;
        padding-top: 2px;
        input {
          height: 45px;
          background-color: #e4e4e4;
          padding-left: 10px;
        }
      }
    }
    .state-item {
      width: 60%;
      display: inline-block;
      padding-right: 2px;
      padding-top: 3px;
      padding-bottom: 6px;
      span {
        display: inline-block;
        padding-bottom: 2px;
      }
      label {
        height: 51px;
        padding-bottom: 5px;
        margin: 0;
        border: 0;
        select {
          padding-bottom: 5px;
          padding-left: 0px;
          padding-top: 2px;
        }
        i {
          position: absolute;
          right: 5px;
          top: 14px;
        }
      }
    }
    .zip-item {
      display: inline-block;
      width: calc(40% + 4px);
      input {
        height: 51px !important;
      }
    }
  }
}
