<ion-view>
  <ion-tabs class="tabs-positive tabs-top top-sub-tabs">
    <ion-tab class="tob-tab-item films-tab" title="Albums" ui-sref='app.dashboard.store.filmsalbums'>
      <ion-nav-view name="store-filmsalbums">
      </ion-nav-view>
    </ion-tab>
    <ion-tab class="tob-tab-item soundboard-tab" title="Soundboard" ui-sref="app.dashboard.store.soundboard">
      <ion-nav-view name="store-soundboard"></ion-nav-view>
    </ion-tab>
    <ion-tab class="tob-tab-item apparel-tab" title="Apparel" ui-sref='app.dashboard.store.apparel'>
      <ion-nav-view name="store-apparel"></ion-nav-view>
    </ion-tab>
    <ion-tab class="tob-tab-item checkout-tab" title="Check Out" ui-sref='app.dashboard.store.checkout'>
      <ion-nav-view name="store-checkout"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
