<ion-view>
  <ion-content class="public-background" scroll="true" overflow-scroll="false" has-bouncing="false">
    <div class="public-content">
      <form class="bottom-scale-88" name='recoverPassword' ui-form='formRecover'>
        <div class="list list-inset">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Recover Password</span>
          </label>
          <label class="item item-input item-email" ng-class="(recoverPassword.email.$invalid && recoverPassword.email.$dirty) ? 'error-input' : 'right-input' ">
            <input type="email" placeholder="E-mail" ng-model="vm.email" name='email' ui-required ui-email>
            <img src="./resources/images/exclamation.png" class="error-exclamination">
          </label>
          <button class="button button-block button-positive recover-button" type="submit" ng-disabled='vm.onProgress'>
            Recover
          </button>
        </div>
      </form>
      <p class="recover-note text-center ">
        Enter the user email you believe is associated
        <br> with the account. If the email is registered,
        <br> a password recovery link will be sent.
      </p>
    </div>
  </ion-content>
</ion-view>
