@mixin item-info() {
  display: inline-block;
  font-size: 12px;
}

@mixin item-icon($value) {
  background: url($value);
  background-repeat: no-repeat;
  background-position: 8px 4px;
}

.item-p {
  font-size: 12px;
  @extend .margin-10;
}


/* item-image */

.item-image {
  // border-radius: 2px;
  // border: 0;
  img {
    width: 100px;
    height: 150px;
  }
}


/* add-cart-button */

.add-cart-button {
  padding: 3px 18px;
  border-radius: 2px;
  margin-top: -5px;
  font-size: 13px!important;
  span {
    display: inline-block;
    width: 85px;
  }
}

.add-cart-button.button-small {
  min-height: 28px;
  line-height: 22px;
}

.button.disabled,
.button[disabled] {
  opacity: .7;
}
