<ion-view class="activism-view">
  <ion-content class="dasboard-background" has-bouncing="true">
    <div class="btn-area">
      <button class="button button-stable">
        How you can HELP
      </button>
    </div>
    <div class="content-area">
      <ion-list>
        <ion-item class="card-item-radius">
          <div class="text-content">
            <div class="heading">
              Heading
            </div>
            <div class="text-area">
              Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
            </div>
          </div>
        </ion-item>
        <ion-item class="card-item-radius">
          <div class="image-content">
            <div class="heading">
              Image Lorem Ipsum
            </div>
            <div class="image-area">
              <img src="resources/images/sc1.jpg" width="100%">
            </div>
          </div>
        </ion-item>
        <ion-item class="card-item-radius">
          <div class="video-content">
            <img class="video-play-btn" src="resources/images/play-btn.png">
            <div class="heading">
              Video Heading Lorem Ipsum
            </div>
            <div class="image-area">
              <img src="resources/images/sc3.jpg" width="100%">
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
